:host {
  display: flex;
  flex-grow: 1;
}

mat-card {
  flex-grow: 1
}

mat-card-title {
  padding: 0.5rem 0;
  text-align: center;
}

mat-divider {
  padding: 0.5rem 0;
}

.list {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    text-align: right;

    .label {
      font-weight: bold;
      text-align: left;
    }
  }
}
