.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .resources-container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
}

[layout-center] {
  display: flex;
  justify-content: center;
}
