<div class='container'>
  <button mat-stroked-button routerLink='/play'>Go back</button>
  @if (loading) {
    <div layout-center>
      <mat-spinner />
    </div>
  }

  <div class='resources-container'>
    @for (resource of resources$ | async; track resource.name) {
        <app-resource-card [resource]="resource" [properties]="resourceLabelKeysMap[resourceType]!"/>
    }
  </div>

    @if (hasError) {
    An error has occurred, please play again
  }
  <button (click)='fetchResources()' mat-flat-button>Play again</button>
</div>

<ng-template #peopleTpl let-resource>
  <div class='list'>
    <div class='item'>
      <span class='label'>Birth year</span>
      <span>{{ resource.birth_year }}</span>
    </div>
    <div class='item'>
      <span class='label'>Eye color</span>
      <span>{{ resource.eye_color }}</span>
    </div>
    <div class='item'>
      <span class='label'>Height</span>
      <span>{{ resource.height }}</span>
    </div>
  </div>
</ng-template>
<ng-template #starshipsTpl let-resource='resource'></ng-template>
