.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .resources-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  @media only screen and (max-width: 720px) {
    .resources-container {
      flex-direction: column;
    }
  }
}

[layout-center] {
  display: flex;
  justify-content: center;
}
