/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
      ),
    )
);

$light-theme: mat.define-theme(
    (
      color: (
        theme-type: light
      )
    )
);

html,
body {
  height: 100%;
  background: mat.get-theme-color($dark-theme, surface);
  color: mat.get-theme-color($light-theme, surface);
  @include mat.all-component-colors($dark-theme);
}

mat-card {
  @include mat.card-theme($light-theme);
  color: mat.get-theme-color($dark-theme, surface)
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
